@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  background: #09090b;
  color: #fafafa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}